:root {
  --clr-primary: #ffab00;
  --clr-light: #f1f1f1;
  --clr-dark: #333;
}

body {
  font-family: "open sans", sans-serif;
  background-color: var(--clr-light);
  color: var(--clr-dark);
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: var(--clr-dark);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Utilities Classes */
.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
  transition: all 0.3s ease-in-out;
  padding: 0.75em 1.5em;
  border-radius: 10px;
  font-size: 1rem;
  outline: none;
}

.btn-outline {
  border: 3px solid #909090;
}

.btn-outline:hover {
  border: 3px solid var(--clr-primary);
}

.main-header {
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("https://images.unsplash.com/photo-1437590552276-2e17e82b7b48?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1951&q=80");
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: var(--clr-light);
  display: grid;
  place-items: center;
}

.main-nav {
  position: fixed;
  top: 0;
  left: 100px;
  width: 10rem;
  cursor: pointer;
}

.menu-toggle {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--clr-dark);
  padding: 1em;
  z-index: 1;
}

.menu-hamburger {
  display: block;
  background-color: var(--clr-primary);
  width: 25px;
  height: 3px;
  position: relative;
  color: transparent;
  transition: background 0.2s ease-in-out;
}

.menu-hamburger::before,
.menu-hamburger::after {
  content: "";
  position: absolute;
  top: -8px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  transition-property: bottom, transform;
  transition-duration: 0.2s, 0.2s;
  transition-delay: 0.2s, 0s;
  transition-property: top, transform;
}

.menu-hamburger::after {
  top: 8px;
}

/* isclicked class */
.menu-toggle.is-clicked span {
  background-color: transparent;
}

.menu-toggle.is-clicked span::before {
  top: 0;
  transform: rotate(45deg);
}

.menu-toggle.is-clicked span::after {
  top: 0;
  transform: rotate(-45deg);
}

.menu-toggle.is-clicked span::before,
.menu-toggle.is-clicked span::after {
  background-color: var(--clr-primary);
  transition-delay: 0s, 0.2s;
  transition-property: top, transform;
}

.menu-toggle span::before {
  /* transition-property: top, transform; */
}

.nav-title {
  margin: 0;
  color: var(--clr-primary);
}

.main-nav-wrap {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #333;
  transition: transform 0.5s ease;
  transform: scaleY(0);
  transform-origin: top;
}

.main-nav-wrap.showNav {
  transform: scaleY(1);
}

.main-nav-wrap > a {
  display: block;
  color: #fff;
  padding: 1em;
}

/* Main Header Content */
.header-content {
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.header-pre-title {
  font-size: 1.5rem;
  color: var(--clr-primary);
  letter-spacing: 0.3rem;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}

.header-sub-title {
  font-size: 5rem;
  max-width: 900px;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  margin: 0;
  font-weight: 700;
}

.header-title {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 400;
}

.btn-main {
  align-self: center;
}
