:root {
  --clr-primary: #ffab00;
  --clr-light: #f1f1f1;
  --clr-dark: #333;
}

body {
  font-family: "open sans", sans-serif;
  background-color: var(--clr-light);
  color: var(--clr-dark);
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: var(--clr-dark);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.main-header {
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("https://images.unsplash.com/photo-1437590552276-2e17e82b7b48?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1951&q=80");
  background-size: cover;
  height: 100vh;
  color: var(--clr-light);
  display: grid;
  place-items: center;
}

.header-content {
}

.social-links {
  /* text-align: center; */
}

.main-nav {
  position: fixed;
  top: 0;
  left: 100px;
  background: var(--clr-dark);
  width: 10%;
  padding: 1em;
  cursor: pointer;
}

.menu-toggle {
  position: relative;
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.menu-hamburger {
  display: block;
  background-color: var(--clr-primary);
  width: 25px;
  height: 3px;
  position: relative;
  color: transparent;
  transition: all 0.2s ease-in-out;
}

.menu-hamburger::before,
.menu-hamburger::after {
  content: "";
  position: absolute;
  top: -8px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
}

.menu-hamburger::after {
  top: 8px;
}

/* isclicked class */
.menu-hamburger.is-clicked {
  background-color: transparent;
}

.is-clicked span::before {
  top: 0;
  transform: rotate(45deg);
}

.is-clicked span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.nav-title {
  margin: 0;
  color: var(--clr-primary);
}

.main-nav-wrap {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #333;
}

.main-nav-wrap > a {
  display: block;
  color: #fff;
  padding: 1em;
}
